/*setting font for the whole webpage*/
* {
    font-family: Arial;
    background-color: aquamarine;
}

/*stying paragrahin general*/
p{
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
    background-color: transparent;
}

/*stylinh h1 in general*/
h1{
    margin-top: 0px;
    text-align: center;
    font-size: 80px;
    background-color: lightgoldenrodyellow;
}

/*stylinh h2 in general*/
h2{
    text-align: center;
    font-size: 40px;
    background-color: transparent;
}

/*stylinh h3 in general*/
h3{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
    background-color: transparent;
}

/*displaying the navigations horizontally*/
.nav-list{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 90px;
    font-size: 25px;
}

/*putting each navigatioin into boxes*/
.nav-box{
    display: inline-block;
    text-decoration: none; 
    background-color:hotpink;
    border: 4px double;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 6px;
}

/*change the color of navigation box by hover*/
.nav-box:hover {
    background-color: lightskyblue;
    color: white;
}

/*putting the hero message into a box*/
.hero {
    display: block; 
    max-width: 750px;               
    margin: auto;        
    background-color: white;  
    border: 4px double;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
}

/*Adjusting the space above the skill offer head line*/
#skilloffer-head{
    margin-top: 30px;
}

/*Adjusting the space above the skill description*/
.skill-description{
    margin-top: 3px;
    margin-bottom: 6px;
}

/*Adjusting the space above the skill price*/
.skill-price{
    margin-top: 3px;
    margin-bottom: 6px;
}

/*Adjusting the space above the skill provider*/
.skill-provider{
    margin-top: 3px;
    margin-bottom: 6px;
}

/*putting each skill into boxes*/
.skills{
    display: grid; 
    max-width: 500px;               
    margin: auto;        
    background-color: lightgoldenrodyellow;  
    border: 4px double;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    margin-top: 10px;
}

/*styling the skill name*/
.skill-name{
    margin-top: 0px;
}

/*putting the detail into a box*/
.skill-detail {
    display: block;
    border: 2px solid lightslategray;
    border-radius: 5px;
    background-color: bisque;
    max-width: 350px;
    margin: auto;
    padding: 5px 10px;
}

/*change the color of detail box by hover*/
.skill-detail:hover{
    background-color: lightslategrey;
}

/*styling the footer*/
#contact-info{
    font-size: 20px;
    margin-top: 50px;
}

/*adjusting all the styles for smaller screens*/
@media (max-width: 600px) {
    p{
    font-size: 16px;
    margin-top: 5px;
    }

    h1{
        margin-top: 0px;
        font-size: 40px;
    }

    h2{
        font-size: 28px;
    }

    h3{
        margin-top: 10px;
        font-size: 20px;
    }

    .nav-list{
        gap: 10px;
        font-size: 16px;
        padding-left: 0;
    }

    .nav-box{
        border: 4px double;
        border-radius: 10px;
        padding: 5px 10px;
        margin-bottom: 6px;
    }

    .hero {
        max-width: 350px;               
        border: 4px double;
        border-radius: 10px;
        padding: 5px 10px;
    }

    #skilloffer-head{
        margin-top: 30px;
    }

    .skills{
        max-width: 350px;               
        border: 4px double;
        border-radius: 10px;
        padding: 5px 10px;
        margin-top: 10px;
    }

    #contact-info{
        font-size: 16px;
    }
}